<?xml version='1.0' encoding='utf-8'?>
<widget id="net.oink.ht5.castledemo" version="0.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Castle Demo</name>
    <description>
        A Demo Game.
    </description>
    <author email="alejandro_liu@hotmail.com" href="http://hypertechnology5.github.io">
        Hyper Technology 5 Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <hook src="scripts/appBeforeBuild.sh" type="before_run" />
    <hook src="scripts/appBeforeBuild.sh" type="before_build" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.2" />
</widget>
